*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
 font-family: "Google Sans", sans-serif;
 
}
.container { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
    /* medida relativa */
    background-color: #ecf0f1;
    
.content { 
    background-color: white;
    border-radius:15px;
    width: 960px;  /* ajustando na aula 3 min 16:40 */
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before  { 
    content: "";
    position: absolute ;
    background-color: #58af9b; 
    width: 40%;
    height: 100%;
    left: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
.title { 
    font-size: 28px;
    font-weight:bold;
    text-transform: capitalize;
}
.title-second {
    color: #58af9b;
    
}

.title-welcome { 
    color: #ffff;
}
.description { 
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: white; 
}

.description-second { 
    color: #95a5a6;
    
}
.btn { 
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width:150px;
    align-self: center;
    transition: background 0.2s;
    margin-top: 1rem;
    
 }
 
.btn-primary { 
    background-color: transparent;
    border: 1px solid #fff;
}


.btn-primary:hover { 
    background-color: #fff;
    color: #58af9b;
}
.btn-second{ 
    background-color: #58af9b;
    border: none;
    
}
.btn-second:hover {
background-color: white;
border: 1px solid  #58af9b;
color: #58af9b;
}

.first-content { 
    display: flex;
    position: absolute;
}
.first-content .second-column {
    z-index: 11;
}


.first-column { 
    text-align: center;
    width:40%;
    z-index: 10;
}
.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .link-social-media { 

} */
 .social-media { 
    margin: 1rem 0;
}

.link-social-media:not(:first-child) {
margin-left: 10px;
}
 .link-social-media:hover .item-social-media {
     background-color: #58af9b;
     color: white;
     transition: background 0.2s;
     border-color: #58af9b;
 }
.list-social-media { 
    display: flex;
    /* aplicar o flex-direction:row; é redundante, mas irei apenas por active recall */
    list-style: none;
    
}


.item-social-media { 
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-top: 1rem;
    color: #95a5a6;
    
}

/* .item-social-media a {     esse código foi apagado devido a mudança de HTML das li's
 color: #95a5a6;
} */


}




.form {
    display: flex;
    flex-direction: column;
    width: 55%;
    
}
 
.form input { 
 height: 45px;
 width: 100%;
 border: none;
 background-color: #ecf0f1;
 width: 100%;  
  
}
    
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify { 
    padding: 0 5px;
}

/* second content */

.second-content {
    position: absolute;
    display: flex;
 }

.second-content .first-column { 
    order: 2;
    z-index: -1;
    
}
.second-content .second-column {
    order: 1;
    z-index: -1;  
}



.password { 
    text-align: center;
    color: #95a5a6;
    margin: 15px 0;
    font-size: 14px;
    
}
.password::first-letter { 
    text-transform:capitalize ;
}

.sign-in-js .first-content .first-column,  
.sign-in-js .first-content .second-column{ 
z-index: -1;


}

.sign-in-js .second-content .first-column,
.sign-in-js .second-content .second-column { 
z-index: 12;



}
.sign-in-js .content::before{
left: 60%;
border-top-right-radius:15px;
border-bottom-right-radius:15px;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
animation: slide-in .8s; 
}


.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column { 
    z-index: -1;

}

.sign-up-js .second-content .second-column {
    position: relative;
    
}

.sign-up-js .first-content .first-column,
.sign-up-js .first-content .second-column { 
   z-index: 12;
   
}
.sign-up-js .content::before{
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
animation: slide-up .8s;

}

.sign-in-js .first-content .second-column {
    z-index: -1;
    position: relative;
    animation:deslocamentoEsq-dir 1s;
}

.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir-esq 1s;
}
/* ANIMAÇÕES CSS */

@keyframes slide-in { 

    from {
      left:0;
      width: 40%;
      z-index: 13;
    }

    50% { 
        left: 30%;
       width: 60%; 
       z-index: 13;
    }

    

    to { 
       left:60%;
       width:40%;
       z-index: 13; 
    }
}

@keyframes slide-up { 

    from {
      left:60%;
      width: 40%;
      z-index: 13;
      
    }

    50% { 
       left: 30%;
       width: 60%;
       z-index: 13;
    }

    to { 
       
       left:0;
       width: 40%;
       z-index: 13; 
    }
}
 /*DESLOCAMENTO CONTEÚDOS ATRÁS DO ::BEFORE */


 
  @keyframes deslocamentoEsq-dir { 
from{
    left: 0;
    opacity:1;
    z-index: 12;
}
   25%{
    left: -80px;
    opacity: .5;
    
   }
    50%{
    left: -20px;
    opacity: .2;
    }

   
to {
    left: -20px;
    opacity:0;
    z-index: -1;
}

}


@keyframes deslocamentoDir-esq { 
  
    from{
    left: 0;
    z-index: 12;
}
   25%{
    left: 80px;
    opacity: .5;
    
   }

   50%{
    left: 100px;
    opacity: .2;
   }
   
to {
    left: 110px;
    opacity:0;
    z-index: -1;
}

   
}
 



